<script setup>
import AppLayout from "@/Layouts/AppLayout.vue";
import Welcome from "@/Jetstream/Welcome.vue";
</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <ul
                        class="list-disc"
                        v-for="(months, year) in $page.props.tree_array"
                        :key="year"
                    >
                        <li class="mx-8">
                            {{ year }}
                            <ul
                                class="list-disc"
                                v-for="(files, month) in months"
                                :key="month"
                            >
                                <li class="mx-8">
                                    {{ month }}
                                    <ul class="list-disc" v-for="file in files" :key="file">
                                        <li class="mx-8">
                                            <a target="_blank" :href="file.url">
                                                {{ file.filename }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <Welcome class="mt-32"/>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
